:root {
    --accent-color: #{{ accent_color }};
}

body,
html {
    font-family: Rubik;
    background-color: #151515;
}

.card {
    background-color: #1E1E1E;
    border: none;
    margin-bottom: 25px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.card-subtitle {
    padding-top: 15px;
}

.text-color-secondary {
    color: var(--accent-color);
}

.text-body-secondary {
    color: var(--accent-color) !important;
}

.icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--accent-color);
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.tokens td {
    padding: 5px;
}

.ghost {
    opacity: 0.5;
}

.card-header {
    padding-top: 15px;
    border: none;
}

#localstorage {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    padding: 10px 0;
}

.clearbutton {
    background-color: #1E1E1E;
    border: var(--accent-color) 1px solid;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: var(--accent-color);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
    background-color: #242424;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

li.active {
    background-color: var(--accent-color);
}

li.active span {
    color: #242424;
}

.days_amount {
    color: var(--accent-color);
    text-decoration: none;
    font-size: .875em;
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 0.5s ease, transform 0.5s ease;
}