:root {
    --accent-color: #B3A3FF;
}

body,
html {
    font-family: Rubik;
    background-color: #1A1A1A;
}

.card {
    background-color: #1E1E1E;
    border: none;
    margin-bottom: 25px;
    min-height: 170px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.card-subtitle {
    padding-top: 15px;
}

.text-color-secondary {
    color: var(--accent-color);
}

.text-body-secondary {
    color: var(--accent-color) !important;
}

.icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--accent-color);
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.highlight {
    color: var(--accent-color);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
    background: #1E1E1E;
}

.tokens td {
    padding: 5px;
}

.ghost {
    opacity: 0.5;
}

.card-header {
    padding-top: 15px;
    border: none;
    cursor: all-scroll;
}

.nav-item {
    transition: background-color 0.2s ease;
    background-color: #242424;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--accent-color);
}

.nav-item:hover span {
    color: #242424;
}

.nav-item.active {
    background-color: var(--accent-color);
}

.nav-item.active span {
    color: #242424;
}

.days_amount {
    color: var(--accent-color);
    text-decoration: none;
    font-size: .875em;
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-body {
    position: relative;
}

.card-body canvas {
    width: 100% !important;
    height: auto !important;
}

.info {
    color: var(--accent-color);
}

.custom-modal-bg {
    background-color: #1A1A1A !important;
}

.icon-effect {
    animation: shake 0.5s ease infinite;
  }

@keyframes shake {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.visibility-hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.visibility-visible {
    opacity: 1;
    max-height: 3000px;
    overflow: visible;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.add_icon {
    color: var(--accent-color);
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}

.add_icon_disabled {
    color: var(--accent-color);
    transform: rotate(0);
    transition: all 0.5s ease-in-out;
}

.card-inner {
    max-width: 80%;
    overflow: auto;
}

.btn:focus, .btn:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.defaults_icon {
    color: var(--accent-color);
    margin-left: 10px;
}