:root {
    --accent-color: #B3A3FF;
}

body,
html {
    font-family: Rubik;
    background-color: #151515;
}

.card {
    background-color: #1E1E1E;
    border: none;
    margin-bottom: 25px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.card-subtitle {
    padding-top: 15px;
}

.text-color-secondary {
    color: var(--accent-color);
}

.text-body-secondary {
    color: var(--accent-color) !important;
}

.icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: var(--accent-color);
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.tokens td {
    padding: 5px;
}

.ghost {
    opacity: 0.5;
}

.card-header {
    padding-top: 15px;
    border: none;
}

.floatbutton {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 50px;
	left: 50%;
    transform: translateX(-50%);
	background-color: var(--accent-color);
	color: #1E1E1E;
	border-radius: 50%;
	text-align: center;
    z-index: 9999;
}

.floatbutton:hover {
    transform: translateX(-50%) scale(1.2);
    transition: transform 0.2s ease
}

.floatbutton-icon {
    margin-top: 30px;
}

.nav-item {
    transition: background-color 0.2s ease;
    background-color: #242424;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--accent-color);
}

.nav-item:hover span {
    color: #242424;
}

.nav-item.active {
    background-color: var(--accent-color);
}

.nav-item.active span {
    color: #242424;
}

.days_amount {
    color: var(--accent-color);
    text-decoration: none;
    font-size: .875em;
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
    transform: scale(0.75);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-body {
    position: relative;
}

.card-body canvas {
    width: 100% !important;
    height: auto !important;
}

.info {
    color: var(--accent-color);
}

.custom-modal-bg {
    background-color: #151515 !important;
}

#chart-container {
    min-height: 1200px;
    overflow-y: auto;  
    overflow-x: hidden;
    width: 100%;       
}