<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ed38ca7e1a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.3/Sortable.min.js"></script>
</head>
<style>
    body,
    html {
        font-family: Rubik;
        background-color: #151515;
    }

    .card {
        background-color: #1E1E1E;
        border: none;
        margin-bottom: 25px;
    }

    .card-subtitle {
        padding-top: 15px;
    }

    .text-color-secondary {
        color: #B3A3FF;
    }

    .card-header {
        border: none;   
    }

    .text-body-secondary {
        color: #B3A3FF !important
    }

    .icon-container {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 20px;
            color: #B3A3FF;
            background: #242424;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px;
        }

    .tokens td {
        padding: 5px;
    }

    .ghost {
        opacity: 0.5;
    }

    .card-header {
        padding-top: 15px;
    }

    #localstorage {
        display: none;
    }

    .clearbutton {
        background-color: #1E1E1E;
        border: none;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .clearbutton:hover {
        background-color: #242424;
    }
</style>

<body>
    <div class="container-fluid mt-4">
        <div class="row" id="localstorage">
            <div class="d-grid gap-2 col-md-2 mx-auto">
                <button id="clearstorage" class="btn-primary clearbutton"><h6 class="card-subtitle mb-2 text-body-secondary text-uppercase text-body-secondary-color">Clear settings</h6></button>
            </div>
        </div>
        {% if update_available %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                New version {{ latest_version }} available! You are running version {{ current_version }}.
            </div>
        </div>
        {% endif %}
        {% if header_text %}
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-color-secondary display-4"><b>{{ header_text }}</b></h1>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase text-color-secondary">System Info</h1>
            </div>
        </div>
        <div class="row is_sortable">
            
            <div class="col-md-3" data-id="hostname">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">hostname</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary text-body-secondary-color">{{ hostname }}</h6>
                    </div>
                        <i class="fa-solid fa-server icon-container"></i>
                </div>
            </div>

            <div class="col-md-3" data-id="external_ip_address">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">external ip address</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ external_ip }}</h6>
                    </div>
                    <i class="fa-solid fa-network-wired icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="node_cpu_utilization">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node cpu utilization</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ cpu_utilization }}%</h6>
                    </div>
                    <i class="fa-solid fa-microchip icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="memory_utilization">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node memory usage</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ memory_utilization }} MB</h6>
                    </div>
                    <i class="fa-solid fa-memory icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="node_uptime">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node uptime</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ node_uptime }}</h6>
                    </div>
                    <i class="fa-solid fa-clock icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="system_uptime">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">system uptime</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ system_uptime }}</h6>
                    </div>
                    <i class="fa-solid fa-clock icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="node_version">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node version</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ node_version }}</h6>
                    </div>
                    <i class="fa-solid fa-code-compare icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="latest_node_version">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">latest node version</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ latest_node_version }}</h6>
                    </div>
                    <i class="fa-solid fa-code-compare icon-container"></i>
                </div>
            </div>            
        </div>
        {% if network_data is not none %}
        {% for network in net_info %}
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase text-color-secondary">{{ network.name }}</h1>
            </div>
        </div>
        <div class="row is_sortable">

            <div class="col-md-3" data-id="state">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">state</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.state }}</h6>
                    </div>
                    <i class="fa-solid fa-network-wired icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="target_state">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">target state</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.target_state }}</h6>
                    </div>
                    <i class="fa-solid fa-globe icon-container"></i>
                </div>
            </div>
            
            <div class="col-md-3" data-id="node_address">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node address</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.address }}</h6>
                    </div>
                    <i class="fa-solid fa-id-card icon-container"></i>
                </div>
            </div>
            
            {% if network.first_signed_blocks is not none %}
            <div class="col-md-3" data-id="first_signed_blocks">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">first signed blocks</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.first_signed_blocks }}</h6>
                    </div>
                    <i class="fa-solid fa-file-signature icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.all_signed_blocks is not none %}
            <div class="col-md-3" data-id="all_signed_blocks">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">All signed blocks</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.all_signed_blocks }}</h6>
                    </div>
                    <i class="fa-solid fa-file-signature icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.signed_blocks_today is not none %}
            <div class="col-md-3" data-id="signed_blocks_today">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Signed blocks today</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.signed_blocks_today }}</h6>
                    </div>
                    <i class="fa-solid fa-file-signature icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.all_blocks is not none %}
            <div class="col-md-3" data-id="amount_of_blocks">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Amount of blocks</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.all_blocks }}</h6>
                    </div>
                    <i class="fa-solid fa-cube icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            <div class="col-md-3" data-id="autocollect_status">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">autocollect status</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.autocollect_status }}</h6>
                    </div>
                    <i class="fa-solid fa-coins icon-container"></i>
                </div>
            </div>
            
            {% if network.autocollect_rewards is not none %}
            <div class="col-md-3" data-id="autocollect_rewards">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">autocollect rewards</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.autocollect_rewards }}</h6>
                    </div>
                    <i class="fa-solid fa-coins icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.fee_wallet_tokens is not none %}
            <div class="col-md-3" data-id="reward_wallet_information">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">reward wallet information</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <table class="tokens">
                            {% for token in network.fee_wallet_tokens %}
                            <tr>
                                <td><h6 class="text-body-secondary card-subtitle">{{ token.token }}</h6></td>
                                <td><h6 class="text-body-secondary card-subtitle">{{ token.balance }}</h6></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <i class="fa-solid fa-wallet icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.signed_blocks_last_7_days is not none %}
            <div class="col-md-3" data-id="signed_blocks_last_7_days">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Signed blocks from last 7 days</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <canvas id="blocksChart"></canvas>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {% if network.rewards is not none %}
            <div class="col-md-3" data-id="rewards_last_7_days">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Rewards from last 7 days</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <canvas id="rewardsChart"></canvas>
                    </div>
                </div>
            </div>
            {% endif %}            
            
        </div>
        <script>
            var blocksData = {{ network.signed_blocks_last_7_days | tojson }};
            var rewardsData = {{ network.rewards | tojson }};
            var block_days = Object.keys(blocksData);
            var blocks = Object.values(blocksData);
            var reward_days = Object.keys(rewardsData);
            var rewards = Object.values(rewardsData);

            function formatDate(dateString) {
                var date = new Date(dateString);
                return date.toLocaleDateString(undefined, {
                    month: 'numeric',
                    day: 'numeric'
                });
            }

            var combined = block_days.map((day, index) => ({
                date: new Date(day),
                blocks: blocks[index]
            }));

            combined.sort((a, b) => a.date - b.date);

            var sortedDays = combined.map(item => formatDate(item.date.toString()));
            var sortedBlocks = combined.map(item => item.blocks);

            var blocksCtx = document.getElementById('blocksChart').getContext('2d');
            var blocksChart = new Chart(blocksCtx, {
                type: 'line',
                data: {
                    labels: sortedDays,
                    datasets: [{
                        label: 'Blocks',
                        data: sortedBlocks,
                        backgroundColor: '#B3A3FF',
                        borderColor: '#B3A3FF',
                        borderWidth: 1
                    }]
                },
                options: {  
                    scales: {
                        x: {
                            ticks: {
                                color: '#B3A3FF'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                color: '#B3A3FF'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    }
                }
            });

            var combinedRewards = reward_days.map((day, index) => ({
                date: new Date(day),
                rewards: rewards[index]
            }));

            combinedRewards.sort((a, b) => a.date - b.date);

            var sortedRewardDays = combinedRewards.map(item => formatDate(item.date.toString()));
            var sortedRewards = combinedRewards.map(item => item.rewards.toString());
            var rewardsCtx = document.getElementById('rewardsChart').getContext('2d');
            var rewardsChart = new Chart(rewardsCtx, {
                type: 'line',
                data: {
                    labels: sortedRewardDays,
                    datasets: [{
                        label: 'Rewards',
                        data: sortedRewards,
                        backgroundColor: '#B3A3FF',
                        borderColor: '#B3A3FF',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            ticks: {
                                color: '#B3A3FF'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                color: '#B3A3FF'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                label: function(tooltipItem) {
                                    return tooltipItem.raw;
                                }
                            }
                        }
                    }
                }
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {

                var localStorageDiv = document.getElementById('localstorage');
                var clearStorageBtn = document.getElementById("clearstorage")

                var hasOtherKeys = Object.keys(localStorage).some(function(key) {
                    return key !== 'loglevel';
                });

                localStorageDiv.style.display = hasOtherKeys ? 'block' : 'none';

                clearStorageBtn.addEventListener('click', function () {
                    localStorage.clear();
                    alert("Local storage cleared, refreshing page!")
                    location.reload()
                    clearStorageBtn.style.display = 'none';
                });

                var closedCards = JSON.parse(localStorage.getItem('cfclosed')) || [];
                closedCards.forEach(function (closedId) {
                var closedCard = document.querySelector(`.col-md-3[data-id="${closedId}"]`);
                if (closedCard) {
                    closedCard.remove();
                }
                });

                var sortableElements = document.querySelectorAll('.is_sortable');
                
                sortableElements.forEach(function (el, index) {
                    Sortable.create(el, {
                        animation: 150,
                        easing: "cubic-bezier(1, 0, 0, 1)",
                        ghostClass: "ghost",
                        group: "cfcards-" + index,
                        dataIdAttr: "data-id",
                        store: {
                            get: function (sortable) {
                                var order = localStorage.getItem(sortable.options.group.name);
                                return order ? order.split('|') : [];
                            },
                            set: function (sortable) {
                                var order = sortable.toArray();
                                localStorage.setItem(sortable.options.group.name, order.join('|'));
                            }
                        }
                    });
                });
            
                document.querySelectorAll('.btn-close').forEach(function (button) {
                    button.addEventListener('click', function (event) {
                        var card = event.target.closest('.col-md-3');
                        if (card) {
                            var cardId = card.getAttribute("data-id") 
                            card.remove(); // Remove the cfcard element
                            var closedCards = JSON.parse(localStorage.getItem('cfclosed')) || []; // Init array
                            if (!closedCards.includes(cardId)) {
                                closedCards.push(cardId) // Push the card to array...
                                localStorage.setItem('cfclosed', JSON.stringify(closedCards)); // And save the list :)
                            }
                        }
                    });
                });
            });
        </script>
        

        {% endfor %}
        {% endif %}
    </div>
</body>

</html>