<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{ plugin_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ed38ca7e1a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.3/Sortable.min.js"></script>
    <link rel="icon" href="data:image/svg+xml;base64,{% include 'cards/favicon.base64' %}" type="image/svg+xml">
</head>
<style>
    {% include 'cards/style.css' %}
</style>

<body>
    <div class="container-fluid mt-4">
        <span title="Reset back to default view" id="clearstorage" class="btn-primary floatbutton text-uppercase"><i class="fa-solid fa-xl fa-rotate-left floatbutton-icon"></i></span>

    {% if general_info.plugin_update_available %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                New version {{ general_info.latest_plugin_version }} available! You are running version {{ current_plugin_version }}.
            </div>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase text-color-secondary">System Info</h1>
            </div>
        </div>
        <div class="row is_sortable">

        {% if general_info.hostname%}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="hostname">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">hostname</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary text-body-secondary-color">{{ general_info.hostname }}</h6>
                    </div>
                        <i class="fa-solid fa-server icon-container"></i>
                </div>
            </div>
        {% endif %}

        {% if general_info.node_cpu_usage %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_cpu_usage">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node cpu usage</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ general_info.node_cpu_usage }}%</h6>
                    </div>
                    <i class="fa-solid fa-microchip icon-container"></i>
                </div>
            </div>
        {% endif %}
            
        {% if general_info.node_memory_usage %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_memory_usage">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node memory usage</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ general_info.node_memory_usage }} MB</h6>
                    </div>
                    <i class="fa-solid fa-memory icon-container"></i>
                </div>
            </div>
        {% endif %}
            
        {% if general_info.node_uptime %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_uptime">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node uptime</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ general_info.node_uptime }}</h6>
                    </div>
                    <i class="fa-solid fa-clock icon-container"></i>
                </div>
            </div>
        {% endif %}

        {% if general_info.system_uptime %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="system_uptime">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">system uptime</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ general_info.system_uptime }}</h6>
                    </div>
                    <i class="fa-solid fa-clock icon-container"></i>
                </div>
            </div>
        {% endif %}
            
        {% if general_info.node_version %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_version">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node version</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ general_info.node_version }}</h6>
                    </div>
                    <i class="fa-solid fa-code-compare icon-container"></i>
                </div>
            </div>
        {% endif %}
            
        {% if general_info.latest_node_version %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="latest_node_version">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">latest node version</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ general_info.latest_node_version }}</h6>
                    </div>
                    <i class="fa-solid fa-code-compare icon-container"></i>
                </div>
            </div>
        {% endif %}
        </div>

        {% if network_info and network_info.items() %}
        {% for network_name, network in network_info.items() %}
        <div class="modal fade" id="nodeInfoModal_{{ network_name }}" tabindex="-1" aria-labelledby="nodeInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content custom-modal-bg">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase" id="nodeInfoModalLabel">General Node Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>NODE DUMP:</h5>
                        <pre>{{ network.general_node_info }}</pre>
                        <h5>NODE INFORMATION:</h5>
                        <pre>PKEY HASH: {{ network.node_data.pkey_hash }}<br>TRANSACTION HASH: {{ network.node_data_tx_hash }}<br>SOVEREIGN ADDRESS: {{ network.node_data.sovereign_addr}}<br>SOVEREIGN TAX: {{ network.node_data.sovereign_tax }}<br>ACTIVE: {{ network.node_data.active }}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase text-color-secondary d-flex align-items-center">
                  {{ network_name }}
                  <button type="button" class="btn btn-link ms-2" data-bs-toggle="modal" data-bs-target="#nodeInfoModal_{{ network_name }}">
                    <i class="fa-solid fa-circle-info info fa-2xl"></i>
                  </button>
                </h1>
              </div>              
        </div>
        <div class="row is_sortable">
            {% if network.state is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="state_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">state</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.state }}</h6>
                    </div>
                    <i class="fa-solid fa-network-wired icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.target_state is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="target_state_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">target state</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.target_state }}</h6>
                    </div>
                    <i class="fa-solid fa-network-wired icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.address is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_address_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">node address</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.address }}</h6>
                    </div>
                    <i class="fa-solid fa-id-card icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.first_signed_blocks is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="first_signed_blocks_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">first signed blocks</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.first_signed_blocks }}</h6>
                    </div>
                    <i class="fa-solid fa-file-signature icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.all_signed_blocks is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="all_signed_blocks_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">All signed blocks</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.all_signed_blocks }}</h6>
                    </div>
                    <i class="fa-solid fa-file-signature icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.signed_blocks_today is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="signed_blocks_today_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Signed blocks today</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.signed_blocks_today }}</h6>
                    </div>
                    <i class="fa-solid fa-file-signature icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.all_blocks is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="amount_of_blocks_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Amount of blocks</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.all_blocks }}</h6>
                    </div>
                    <i class="fa-solid fa-cube icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.autocollect_status is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="autocollect_status_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">autocollect status</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.autocollect_status }}</h6>
                    </div>
                    <i class="fa-solid fa-coins icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.autocollect_rewards is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="autocollect_rewards_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">autocollect rewards</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.autocollect_rewards }}</h6>
                    </div>
                    <i class="fa-solid fa-coins icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.node_data.stake_value is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_stake_value_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Node stake value</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.node_data.stake_value }}</h6>
                    </div>
                    <i class="fa-solid fa-dollar-sign icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.node_data.effective_value is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_effective_value_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Node effective value</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.node_data.effective_value }}</h6>
                    </div>
                    <i class="fa-solid fa-dollar-sign icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.node_data.related_weight is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="node_related_weight_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Node related weight</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.node_data.related_weight }}%</h6>
                    </div>
                    <i class="fa-solid fa-weight-scale icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.token_price is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="token_price_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">current token price</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">${{ network.token_price }}</h6>
                    </div>
                    <i class="fa-solid fa-dollar-sign icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.all_rewards is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="all_rewards_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Rewards all time</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ network.all_rewards }}</h6>
                    </div>
                    <i class="fa-solid fa-dollar-sign icon-container"></i>
                </div>
            </div>
            {% endif %}

            {% if network.fee_wallet_tokens is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="reward_wallet_information_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Reward Wallet Information</h5>
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <table class="tokens">
                            {% for token, balance in network.fee_wallet_tokens.items() %}
                            <tr>
                                <td><h6 class="text-body-secondary card-subtitle">{{ token }}</h6></td>
                                <td><h6 class="text-body-secondary card-subtitle">{{ balance }}</h6></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <i class="fa-solid fa-wallet icon-container"></i>
                </div>
            </div>
            {% endif %}
            
            {% if network.all_signed_blocks_dict is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="signed_blocks_last_n_days_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Signed blocks history</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <canvas id="blocksChart_{{ network_name }}"></canvas>
                    </div>
                    <ul class="nav justify-content-center">
                        {% if network.all_signed_blocks_dict | length < 7 %}
                        <li class="nav-item active" onclick="updateChart('blocksChart', {{ network.all_signed_blocks_dict | length }}, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">{{ network.all_signed_blocks_dict | length }} days</span>
                        </li>
                        {% else %}
                        <li class="nav-item active" onclick="updateChart('blocksChart', 7, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">7 days</span>
                        </li>
                        {% endif %}
                        {% if network.all_signed_blocks_dict | length >= 14 %}
                        <li class="nav-item" onclick="updateChart('blocksChart', 14, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">14 days</span>
                        </li>
                        {% endif %}
                        {% if network.all_signed_blocks_dict | length >= 30 %}
                        <li class="nav-item" onclick="updateChart('blocksChart', 30, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">30 days</span>
                        </li>
                        {% endif %}
                        {% if network.all_signed_blocks_dict | length >= 60 %}
                        <li class="nav-item" onclick="updateChart('blocksChart', 60, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">60 days</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
            
            {% if network.rewards is not none %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3" data-id="rewards_last_n_days_{{ network_name }}">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title text-uppercase">Rewards history</h5><button type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <canvas id="rewardsChart_{{ network_name }}"></canvas>
                    </div>
                    <ul class="nav justify-content-center">
                        {% if network.rewards | length < 7 %}
                        <li class="nav-item active" onclick="updateChart('rewardsChart', {{ network.rewards | length }}, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">{{ network.rewards | length }} days</span>
                        </li>
                        {% else %}
                        <li class="nav-item active" onclick="updateChart('rewardsChart', 7, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">7 days</span>
                        </li>
                        {% endif %}
                        {% if network.rewards | length >= 14 %}
                        <li class="nav-item" onclick="updateChart('rewardsChart', 14, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">14 days</span>
                        </li>
                        {% endif %}
                        {% if network.rewards | length >= 30 %}
                        <li class="nav-item" onclick="updateChart('rewardsChart', 30, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">30 days</span>
                        </li>
                        {% endif %}
                        {% if network.rewards | length >= 60 %}
                        <li class="nav-item" onclick="updateChart('rewardsChart', 60, '{{ network_name }}'); setActive(this);">
                            <span class="days_amount">60 days</span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
            
        </div>
    </div>
    <script>
        function setActive(selectedItem) {
            var parentCard = selectedItem.closest('.card');
            var navItems = parentCard.querySelectorAll('.nav-item');
            navItems.forEach(function(item) {
                item.classList.remove('active');
            });
            selectedItem.classList.add('active');
        }
    
        document.addEventListener('DOMContentLoaded', function () {
            var clearStorageBtn = document.getElementById("clearstorage");
    
            function toggleLocalStorageDiv() {
                var hasCardsHidden = localStorage.getItem('cfclosed');
                if (!hasCardsHidden) {
                    clearStorageBtn.style.display = 'none';
                } else {
                    clearStorageBtn.style.display = 'block';
                }
            }
    
            toggleLocalStorageDiv();
    
            clearStorageBtn.addEventListener('click', function() {
                localStorage.removeItem('cfclosed');
                location.reload();
            });
    
            var closedCards = JSON.parse(localStorage.getItem('cfclosed')) || [];
            closedCards.forEach(function (closedId) {
                var closedCard = document.querySelector(`.col-12[data-id="${closedId}"]`);
                if (closedCard) {
                    closedCard.remove();
                }
            });
    
            var sortableElements = document.querySelectorAll('.is_sortable');
    
            sortableElements.forEach(function (el, index) {
                Sortable.create(el, {
                    handle: ".card-header",
                    animation: 250,
                    easing: "cubic-bezier(1, 0, 0, 1)",
                    ghostClass: "ghost",
                    group: "cfcards-" + index,
                    dataIdAttr: "data-id",
                    delay: 100,
                    store: {
                        get: function (sortable) {
                            var order = localStorage.getItem(sortable.options.group.name);
                            return order ? order.split('|') : [];
                        },
                        set: function (sortable) {
                            var order = sortable.toArray();
                            localStorage.setItem(sortable.options.group.name, order.join('|'));
                        }
                    }
                });
            });
    
            document.querySelectorAll('.btn-close').forEach(function (button) {
                button.addEventListener('click', function (event) {
                    var card = event.target.closest('.col-12');
                    if (card) {
                        var cardId = card.getAttribute("data-id");
                        card.classList.add('hidden');
    
                        card.addEventListener('transitionend', function () {
                            card.remove();
                            var closedCards = JSON.parse(localStorage.getItem('cfclosed')) || [];
                            if (!closedCards.includes(cardId)) {
                                closedCards.push(cardId);
                                localStorage.setItem('cfclosed', JSON.stringify(closedCards));
                            }
                            toggleLocalStorageDiv();
                        }, { once: true });
                    }
                });
            });
        });
        
        function formatDate(dateString) {
            var date = new Date(dateString);
            return date.toLocaleDateString(undefined, {
                month: 'numeric',
                day: 'numeric'
            });
        }

        function updateChart(chart, daysToShow, networkName) {
            if (chart === 'blocksChart') {
                var block_days = Object.keys(blocksData[networkName]).slice(-daysToShow);
                var blocks = Object.values(blocksData[networkName]).slice(-daysToShow);
    
                var sortedDays = block_days.map(formatDate);
                var sortedBlocks = blocks;
    
                blocksCharts[networkName].data.labels = sortedDays;
                blocksCharts[networkName].data.datasets[0].data = sortedBlocks;
                blocksCharts[networkName].update();
            } else if (chart === 'rewardsChart') {
                var reward_days = Object.keys(rewardsData[networkName]).slice(-daysToShow);
                var rewards = Object.values(rewardsData[networkName]).slice(-daysToShow);
    
                var sortedRewardDays = reward_days.map(formatDate);
                var sortedRewards = rewards.map(reward => reward.toString());
    
                rewardsCharts[networkName].data.labels = sortedRewardDays;
                rewardsCharts[networkName].data.datasets[0].data = sortedRewards;
                rewardsCharts[networkName].update();
            }
        }
    </script>
    
    <script>
        {% if network_info and network_info.items() %}
            var blocksData = {};
            var blocksCharts = {};
            var rewardsData = {};
            var rewardsCharts = {};
    
            {% for network_name, network in network_info.items() %}
                {% if network.all_signed_blocks_dict %}
                    blocksData['{{ network_name }}'] = {{ network.all_signed_blocks_dict | tojson }};
                {% endif %}
                {% if network.rewards %}
                    rewardsData['{{ network_name }}'] = {{ network.rewards | tojson }};
                {% endif %}
            
                {% if network.all_signed_blocks_dict %}
                    var blocksCtx{{ network_name }} = document.getElementById('blocksChart_{{ network_name }}').getContext('2d');
                    blocksCharts['{{ network_name }}'] = new Chart(blocksCtx{{ network_name }}, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Blocks',
                                data: [],
                                backgroundColor: '#B3A3FF',
                                borderColor: '#B3A3FF',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        color: '#B3A3FF'
                                    }
                                },
                                y: {
                                    grid: {
                                        display: false
                                    },
                                    beginAtZero: true,
                                    ticks: {
                                        color: '#B3A3FF'
                                    },
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false
                                }
                            }
                        }
                    });
                    updateChart('blocksChart', 7, '{{ network_name }}');
                {% endif %}
            
                {% if network.rewards %}
                    var rewardsCtx{{ network_name }} = document.getElementById('rewardsChart_{{ network_name }}').getContext('2d');
                    rewardsCharts['{{ network_name }}'] = new Chart(rewardsCtx{{ network_name }}, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Rewards',
                                data: [],
                                backgroundColor: '#B3A3FF',
                                borderColor: '#B3A3FF',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        color: '#B3A3FF'
                                    }
                                },
                                y: {
                                    grid: {
                                        display: false
                                    },
                                    beginAtZero: true,
                                    ticks: {
                                        color: '#B3A3FF'
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    display: false
                                },
                                tooltip: {
                                    callbacks: {
                                        label: function(tooltipItem) {
                                            return tooltipItem.raw;
                                        }
                                    }
                                }
                            }
                        }
                    });
                    updateChart('rewardsChart', 7, '{{ network_name }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>    
    
</body>

</html>